* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    border-radius:13px;

    position: absolute;
    top:25%;
    left: 40%; 
    width: 40vw;
    height: 70vh;
    background-color: white;
   
}
.formulaires{
  
display: flex;
width:57%;
height: 65%;
margin: 5rem 0 0 13rem;
flex-direction: column;    
}
.form-div-hed{
   display: flex;
   margin-left:30%;
}
.form-div-hed input{
    height:1.9rem;
    width:2.5rem;
}
.form-div-hed button{
    height:1.9rem;
    width:1.9rem;
    background:rgb(11, 199, 212);
    color:#fff;
    border-radius:6px;
}
.inptxt{
    padding: 0.7rem;
    border: 2px solid  rgba(255, 166, 0, 0.748);
}
.inptxt2{
        padding: 1rem;
        width: 10vw;
        border:none;
        border-bottom: 2px solid rgb(11, 199, 212);
        border-right: 2px solid rgb(11, 199, 212);
        background:#ddd3c840;
}

.inptxt1{
    padding: 3rem;
    width: 50vw;
    border:none;
    border-bottom: 2px solid rgb(11, 199, 212);
    border-right: 2px solid rgb(11, 199, 212);
    background:#ddd3c840;

}
.form-div-hed1{
    display: flex;

}
.form-div-hed1 span{
    display: flex;
    margin-left: 0.5rem;

}
.form-div-hed1 span img{
    height:8vh;

}
/* .form-div-hed12{ */
    /*  */
    /* width: 41vw; */
    /* border:none; */
    /* border-bottom: 2px solid rgb(11, 199, 212); */
    /* border-right: 2px solid rgb(11, 199, 212); */
   /*  */
/*  */
/* } */



.form-sel{
    display: flex;
}
.selection{
    padding: 1.5rem;
    width: 41vw;
    border:none;
    border-bottom: 2px solid rgb(11, 199, 212);
    border-right: 2px solid rgb(11, 199, 212);
    background:#ddd3c840;
}
.inptxt13{
    padding: 1.5rem;
    width: 38vw;
    border:none;
    background:#ddd3c840;

     border-bottom: 2px solid rgb(11, 199, 212);
    border-right: 2px solid rgb(11, 199, 212);
    
}





body {
    background-image: url(../images/imge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.378);

}
#aly{
    display: flex;
    width: 100%;
    height: 90vh;

    background-color: rgba(255, 255, 255, 0.378);
    

}
#wane .avatar{
    width: 13rem;
    height: 13rem;
    /* position: absolute; */
    border-radius: 50%;
    border: 6px solid rgb(11, 199, 212);
}

#wane {
    /* width: 13rem; */
    width: 13rem;
    height: 13rem;
    /* height: 13rem; */
    position: relative;
    left: 75%;
    top: 3%;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #052426;

}
#file{
    visibility: hidden;
    width:0;
    height:0;
    position: absolute;
    right: 200000px;
}

.div-hed {
    background-color: #052426;
    height: 5vw;
    display: flex;
    align-items: center;
}

.div-hed1 {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    height: 5vw;
}

.imag2 {
    display: flex;
    height: 12vh;
    left: 50px;
}

#h1 {
    color: white;
    display: flex;
    margin-left: 50rem;
}
.h2bou{
    color:#8d8070;
}
.h2bou1{
    
    color:rgb(11, 199, 212);
}
.form-div-hed1 label{
    font-size:1.5rem;
}
.btntree{
    width: 8vw;
    padding:0.9rem;
    color:#fff;
    border-radius: 10px;
    background:rgb(11, 199, 212);
    border:none;
    display: flex;
    margin-left: 50rem;
    margin-top: 1rem;
}
.btntreee{
    width: 8vw;
    padding:0.9rem;
    color:#fff;
    border-radius: 10px;
    background:rgb(11, 199, 212);
    border:none;
    display: flex;
    margin-left: 58rem;
    margin-top: 4rem;
}

.container123{
    border-top: 5px solid rgb(11, 199, 212); 
    border-bottom: 5px solid rgb(11, 199, 212); 
    border-left: 1px solid rgb(11, 199, 212); 
    border-right: 1px solid rgb(11, 199, 212); 
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.divlabint {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.fichier {
    margin-left: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.form_input_inscription {
    padding: 1rem;
    border: 2px solid rgb(11, 199, 212);
    width: 50%;
    border-radius: 5px;
}
.enregistrement{
    padding: 1rem;
    background-color: #51bfd0;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 8rem;
    font-size: 1rem;
    transition:transform 0.3s ease-in-out;
   
}

.enregistrement:hover{

    background:#0eb8d2;

}
.suiv{
    display: flex;
    padding: 1rem;
    background-color: #51bfd0;
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 8rem;
    font-size: 1rem;

}


/* .enregistrement::after{ */
    /* transform: translate(6px, 6px); */
  /*  */
/* } */
/* .enregistrement::before{ */
    /* transform: translate(12px, 12px); */
 /*  */
/* } */



#btn{
    display: flex;
    padding: 1rem;
    background-color: #51bfd0;
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 8rem;
    font-size: 1rem;
}

a {
    background-color: #51bfd0;
    color: white;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

p {
    color: rgba(0, 0, 0, 0.459);
}

#fichie {
    background-color: #51bfd0;
    position: absolute;
    left: 120vw;
    visibility:hidden;

}
#lab{
    background-color: #51bfd0;
    color: white;
    border-radius: 10px;
    border: none; 
    padding: 1rem;

}
li{
    display:flex;
    flex-direction: column;
    gap:3rem;
}
.div-liste-joueur{
    border-radius: 10px;
    border:3px solid #51bfd0;
    height:100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pagination{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 0 1rem 20rem;
    
}
.pagination ul{
    display:flex;
    background: #51bfd0;
    border-radius: 50px;
    /* padding:1rem; */
    padding:1.5rem;
    justify-content:center;
    align-items:center;
    
}

.pagination ul li{
   display: flex;
   list-style: none;
   line-height:none;
   text-align: center;
   font-size: 1rem;
   font-weight:bold;
   cursor:pointer;
   transition: all 0.3s ease;
  color: #fff;
   
}
.pagination ul li.numb{
    display: flex;
    height: 0.5vh;
    width:2rem;
    border-radius:50%;
    text-align: center;
    margin : 0 3px;
   
}
 .pagination ul li.dots{
   cursor: default; 
 }
 .pagination ul li.btn{
   padding: 0.5rem  0.5rem ;
   

 }
 .pagination ul li.precedant{
   border-radius:  25px 5px 5px 25px ;

  
}
  .pagination ul li.suivant{
    border-radius:  5px 25px 25px  5px ;
  
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
    background:#fff;
    height: 100%;
    color:#51bfd0;
}

 

