:root{
    --success-color:#2ecc71;
    --error-color:#e74c3c;
}
.form-Control input:focus{
    outline:0;
    border-color:#777 ;
}
.form-Control.success input{
border-color:var(--success-color);
box-shadow: 0 0 5px 1px greenyellow;
}
.form-Control.error input{
    border-color:var(--error-color);
    box-shadow: 0 0 5px 1px red;
}
label{
    color:#51bfd0;
    font-weight: bold;  
}
label:hover{
    color:#2ecc71;
    font-weight: bold;  
}

#div1{

width:40%;
margin:1rem;
margin-top: 7rem;
border-radius:12px;
border: 2px solid #67d8d4;
}
#div2{
    width:40%;
    margin:1rem;
    margin-top: 1rem;
    border-radius:12px;
    border: 2px solid #67d8d4;   
}

/* Juste pour que notre exemple soit plus joli */

  input[type=email]{
    -webkit-appearance: none;
  
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
  }

  /* Voici notre composition pour les champs invalides */
  input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* Voici la mise en forme pour les erreurs */
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/imge.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.div-hed{
    background-color:#052426;
    height:5vw;
    display: flex;
    align-items:center;
    
}
.imag2{
    display: flex;
    height:12vh;
    left:50px;
}
#h1{
    color:white;
    display: flex;
    margin-left: 50rem;

}
form{
    position: absolute;
    left: 35%;
    top: 20%;
    border-radius:20px ;
    height: 70vh;
    width: 15vw;
}
.div-h1{
    background-color:#51bfd0;
    color:white;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    
}.div-inpu{
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 40vh;
    /* justify-content:center; */
    align-items: center;
}
.div1{
   display: flex;
   margin-top: 5rem;
   margin-left: 2.5rem;
   margin-right: 2.5rem;
   align-items: center;
   position: relative;
   flex-direction: column
   
}
.div2{

    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    position: relative;
}
.form-Control input{
    height: 8vh;
    width: 100%;
    border-radius: 13px;
    border: none;
    background:#f0eef1;
    border:#51bfd0;
}
img{
    height: 3vh;
    display: flex;
   
}
.im2{
    position: absolute;
    margin-left: 33rem;
    top: 18px;
}
small{
    position: absolute;
    left: 0;
    bottom:0;
}
.div-submit{
    display: flex;
    background-color:white;
    justify-content:space-evenly;
    align-items:center;
    height: 10vh;
}
a{
    font-size: 25px;
text-decoration: none;
color: #a4a4a4;
}
#submit{
       color:white;
       background-color:#51bfd0;
       width: 15vw;
       border-radius:13px ;
       border:none;
       font-size: 15px;
    height: 8vh;

}
.container{
    border: 2px solid black;
}
.header{
    
    height: 12vh;
    margin-top: 1rem;
    background:#51bfd0;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bouton{
    padding: 1rem;
    background:#67d8d4;
    border:none;
    border-radius: 10px ;
    color:#fff;
}
#h1{
    margin-left: 40rem;
}
.main{
    height: 73vh;
    display: flex;
    background:white;
    border: 2px solid rgb(11, 199, 212);
    

}
.main-gauche{
    
   width:40vw;
   margin: 3rem;
   display: flex;
   flex-direction: column;
}
.img-re{
    height: 10vh;
    width: 5vw;
    border-radius:50%;
   
}
#avatar{
height:20vh;
background:#67d8d4;
display: flex;
justify-content:space-around;
align-items:center;

}
#list{
    display: flex;
    flex-direction:column;
    border:2px solid rgba(0, 0, 0, 0.164);
}
#list div {

display: flex;
padding: 1.5rem;
justify-content:space-between;
border-left: 3px solid rgb(240, 244, 240);
margin: 1% 0;
}
.active{
    background-color:rgba(213, 222, 222, 0.509);
    border-color: rgb(15, 165, 15);
}
#list div:hover{
    background-color:rgba(213, 222, 222, 0.509);
    border-color: rgb(15, 165, 15);

}
.main-droite{
    border:1px solid rgba(0, 0, 0, 0.164);
    
    width:70vw;
   margin: 2rem;
}
.main-droite form{
display: flex;
flex-direction: column;
justify-content:center;
align-items:center;
width:30vw;
height:65vh;
margin-left: 10rem;
margin-top: 6rem;
}
.main-droite form img{
    /* height:35vh; */
    border-radius:50%;
    position:absolute;
    border:6px solid #51bfd0;
    left: 35vw;
    
}
.fichier{
    display: flex;
justify-content:space-between;
width:100%;

}

.main-droite form input{
    height:3rem;
    width:55vh;
}
    .main-droite form .fichier{
display: flex;
font-size:0.7em;
}
.fichier-choix{
    background:#51bfd0;
    text-decoration: none;
    border-radius: 10px;
width:1rem;;
    font-size:0.5em;
    color:#fff;
    font-size: 1rem;
    }
    .main-droite form button{
        padding: 1rem;
        background:#51bfd0;
        text-decoration: none;
        border-radius: 10px;
        
}
#div-main-droite-container{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
#div-main-droite-container1{
    border: 3px solid#51bfd0;
    height: 65vh;
}
#div-main-droite-container h1{
    color:#51bfd0;
    
}
#div-main-droite-container label{
    font-size: 2rem;    
}

#div-main-droite-container1 div{
    display: flex;
    margin-top: 2rem;
}
#div22{
    width:15vw;
}
#div-creerUestion-container1{
    display: flex;
    flex-direction: column;
    /* font-size: 2rem; */
}
#div-head1{
    display: flex;
    gap: 1rem;
}
#div-head1 span{
    border: 1px solid rgba(0, 0, 0, 0.254);
    padding: 2rem;
    height: 2rem;
}
#div-head1 h1{
 display: flex;
 justify-content:center;
 align-items:center;

}
#div-head1 button{
width:3rem;
background-color:#51bfd0;
border-radius: 3px;
border:none;
}
#div-creerUestion-container1 input{
    padding: 1rem;
}
.contai{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .contai input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .contai:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .contai input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .contai input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .contai .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
  
  }


table{
width:100%;
font-size:2rem;
color:#948778;
}
td{
text-align: center;

}
/******JOB BU LOL*******/

.form {
	padding: 30px 40px;	
}
.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #67d8d4;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #67d8d4;
	border: 2px solid #67d8d4;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}